extends base
block content
  div.video__layout
    div.video__video-area
      div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        div#videoControls.videoControls
          div.videoControls__play
            span#play.videoControls__playBtn
              i.fas.fa-play
            div.videoControls__time
              span#currentTime 00:00
              span  / 
              span#totalTime 00:00
          input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
          div.videoControls__volume
            input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
            span#mute
              i.fas.fa-volume-up
          div
            span#fullScreen
              i.fas.fa-expand
      div.video__data
        div.video.hashtags
          each hashtag in  video.hashtags
            span=hashtag
        p.video__title=video.title
        div.video.meta-data
          i.fa-solid.fa-eye
          div.video__rating #{video.meta.rating}회
          i.fa-regular.fa-clock
          div.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        dic.video__desc=video.description
        div.video__owner 
          a(href=`/users/${video.owner._id}`)

            if video.owner.avatarUrl === undefined
              img(src="/img/default.png")
            else
              img(src=`${video.owner.avatarUrl}`, alt="")
        

            span=video.owner.username
        if String(video.owner._id) === String(loggedInUser._id)
          a(href=`${video.id}/edit`) Edit Video &rarr;
          br
          a(href=`${video.id}/delete`) Delete Video &rarr;
    div.video__comment-area
      div.video__add-comments
        form.video__comment-form#commentForm
          if loggedIn
            div.video__comment-input
              textarea(cols="20", rows="5", placeholder="write a nice comment...")
              button Add Comment
          else
            span 댓글을 남기려면 로그인이 필요합니다!
          div.video__comments
            ul 
              each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                  div.video__comment__top
                    img(src="/img/default.png")
                    div.video__comment__info
                      span=comment.username
                      span.date=new Date(comment.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                  span #{comment.text}
                  if String(loggedInUser._id) === String(comment.owner)
                    button.deleteBtn ❌
block scripts 
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSection.js") 
